:javascript
  function load_locality() {
  var locality = document.getElementById('locality_name').value;
  console.log("Redirecting to locality " + locality);
  location.href = "/locality/"+locality; }

%input#locality_name{:name => "locality", :type => "text"}/

%input{:onclick => "load_locality()", :type => "button", :value => "Cerca"}/

%h3 Report pi첫 recenti:
= link_to 'Vedi i report pi첫 recenti',  reports_path

%br/
%br/
%hr/

-#%h3 Foto pi첫 votate:
-#= link_to 'Vedi le foto pi첫 votate', '#'

%h3 Popular pics:
- @id_counts = PhotoLike.all.group("photo_id").count.sort_by{|a,b| -b}
- @id_counts.each do |id_count|
-	id = id_count[0]
-	photo = Photo.find(id)
  = image_tag photo.image.thumb.url
  %br/
  = link_to "View", photo_path(id_count)
  %br

